.carrossel__titulo{
    font-size: 18px;
    font-weight: 700;
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    padding: 1em 0 0.5em 0;
    text-transform: uppercase;
}

.swiper-slide img{
    width: 100%;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.swiper-pagination-bullet-active {
    background-color: var(--azul) !important;
}

.swiper-button-prev, 
.swiper-button-next{
    display: none;
}

.card{
    background-color: var(--branco);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao{
    width: 45%;
}

.descricao__titulo{
    font-weight: 700;
    color: var(--laranja);
}

.descricao__titulo-livro{
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0;
}

.descricao__texto{
    font-size: 14px;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.botoes{
    display: flex;
}

.botoes__item{
    margin: 0 0.5em;
}

.botoes__ancora{
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    padding: 1em 2.2em;
}